In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
treasure_bills_df = pd.read_excel(r"C:\Users\purot\Desktop\Boot_Camp\Project-1\data\treasuary bills .xlsm")

# Print data
treasure_bills_df.head(6)

,Date,4 WEEKS BANK DISCOUNT,4 WEEKS COUPON EQUIVALENT,8 WEEKS BANK DISCOUNT,8 WEEKS COUPON EQUIVALENT,13 WEEKS BANK DISCOUNT,13 WEEKS COUPON EQUIVALENT,17 WEEKS BANK DISCOUNT,17 WEEKS COUPON EQUIVALENT,26 WEEKS BANK DISCOUNT,26 WEEKS COUPON EQUIVALENT,52 WEEKS BANK DISCOUNT,52 WEEKS COUPON EQUIVALENT
0,2023-10-24,5.30,5.41,5.33,5.46,5.31,5.47,5.33,5.52,5.33,5.57,5.16,5.45
1,2023-10-23,5.31,5.42,5.33,5.46,5.32,5.48,5.32,5.51,5.32,5.56,5.14,5.43
2,2023-10-20,5.29,5.40,5.32,5.45,5.31,5.47,5.34,5.53,5.31,5.54,5.13,5.42
3,2023-10-19,5.31,5.42,5.33,5.46,5.33,5.49,5.35,5.54,5.32,5.56,5.16,5.45
4,2023-10-18,5.30,5.41,5.31,5.44,5.34,5.50,5.35,5.54,5.34,5.58,5.18,5.47
5,2023-10-17,5.31,5.42,5.33,5.46,5.35,5.51,5.37,5.56,5.36,5.60,5.19,5.49

In [26]:

four_bd_mean = treasure_bills_df["4 WEEKS BANK DISCOUNT"].mean()
four_bd_median = treasure_bills_df["4 WEEKS BANK DISCOUNT"].median()
four_bd_min = treasure_bills_df["4 WEEKS BANK DISCOUNT"].min()
four_bd_max = treasure_bills_df["4 WEEKS BANK DISCOUNT"].max()

four_bd_data = pd.DataFrame({"4 Week BD mean": [four_bd_mean],
                             "4 Week BD mediam": [four_bd_median],
                             "4 Week BD min": [four_bd_min],
                             "4 Week BD max": [four_bd_max]})

four_bd_data

   4 Week BD mean  4 Week BD mediam  4 Week BD min  4 Week BD max
0        4.857598              5.09           3.29           5.78