In [1]:
#import warnings
#warnings.filterwarnings('ignore')

In [2]:
# Import Dependencies
# ?wid: %matplotlib inline

#import matplotlib.pyplot as plt
#contrast to:
#from matplotlib import pyplot as plt
#import numpy as np
#import scipy.stats as stats
import pandas as pd

In [3]:
# Import our data into pandas from CSV
s_p_500 = 'SP500.csv'
s_p_500_df = pd.read_csv(s_p_500, low_memory=False)

In [4]:
s_p_500_df.head()

         DATE    SP500
0  10/29/2018  2641.25
1  10/30/2018  2682.63
2  10/31/2018  2711.74
3   11/1/2018  2740.37
4   11/2/2018  2723.06

In [5]:
# Convert Date to date format. Lots of help
# This cell was created mostly by SOMEONE NOT ME //i.e. OUTSIDE HELP
s_p_500_df['SP500'] = pd.to_numeric(s_p_500_df['SP500'])
s_p_500_df = s_p_500_df.dropna(subset=['SP500'])

s_p_500_df["DATE"] = pd.to_datetime(s_p_500_df["DATE"], format='%m/%d/%Y')
s_p_500_df.head()

ValueError: Unable to parse string "." at position 18

In [ ]:
# This cell was created mostly by SOMEONE NOT ME //i.e. OUTSIDE HELP
s_p_500_df["month"] = s_p_500_df["DATE"].dt.to_period("M")
s_p_500_df["month"] = s_p_500_df["month"].dt.strftime('%m/%Y')
s_p_500_df.head()

In [ ]:
sp500_month_summary = s_p_500_df.groupby('month').agg(SP500=('SP500', 'mean'))
sp500_month_summary

In [ ]:
len(sp500_month_summary)

In [ ]:
# This cell was accidentally wiped out by cntl+"Z" aoubt 10:19 pm Halloween.... Spooky


tbill_int_rate_df.head()

In [ ]:
# Combine the data into a single DataFrame
tbill_and_sp500 = pd.merge(tbill_int_rate_df, sp500_month_summary, how="left", on=["month", "month"])
tbill_and_sp500.head()

In [ ]:
# i got outside and specific help on this cell i.e. this cell was mostly created by SOMEONE NOT ME //i.e. OUTSIDE HELP
tbill_and_sp500_overlap = tbill_and_sp500.dropna(subset=['SP500', 'TB3MS'])
tbill_and_sp500_overlap.head()

In [ ]:
# ............. AND THEN A MIRACLE HAPPENS ..........
# MARKDOwn?? 
# All dataframes up to this point in code have been intermediate steps towards an ultimate, one-stop-shopping dataframe.
# This new datafram will be called omnibus_df and it will be completed in Excel (how convenient!) then imported to Python.
# 
# Changes made in Excel are: 
# (1) making DATE field: less ornery; free from ERROR MESSAGES; and in standard format of yyyymm
# (2) adding data for DJIA = Dow Jones Industrial Average
# (3) adding data for RECESSION = Boolean to indicate whether there was a recession that month
# (4) adding red herring data for CHARITY = charitable giving that month
# (5) adding data for 30 YEAR = home mortgage interest rates on a 30 year fixed mortgage.
# (6) adding data for INFATION = inflation rate by month
# (7) making all data run from 195001 to 202310 

# NOTE: as described above, omnibus_df has exactly 7 columns. GIT Collaboraters may, if they choose,add addition colomns.